.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 36px;
}

.search-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 300px;
    border: none;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

#results {
    text-align: left;
}

.article {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.article h3 {
    margin-top: 0;
}

.article p {
    margin-bottom: 0;
}

